{% load i18n %}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>index</title>

</head>
<body>

  <ul class="nav navbar-nav navbar-right language menu">
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    {% for language in languages %}
    {% if language.code == LANGUAGE_CODE %}
    {% else %}
        <li>
            <a href="/{{ language.code }}{{ request.get_full_path|slice:'3:' }}"
               class="{% if language.code == LANGUAGE_CODE %}selected{% endif %}"
               lang="{{ language.code }}">
                {{ language.name_local }}
            </a>
        </li>
        {% endif %}
    {% endfor %}
</ul>

<!--Get language code of link in template, then print code -->
{% get_current_language as LANGUAGE_CODE %}
This is the language code of this website: {{LANGUAGE_CODE}}<p>

This is a translated string unsing a translation file: {% trans "Hallo" %}<p>
This is a variable passed to the template using translation in the view: {{test}}<p>

This section translates the written text on the webpage. The variable is translated in the view:<br>
{% blocktrans %}
Das ist der zu übersetzende Text: {{ variable }}
{% endblocktrans %}

</body>

</html
